{% extends "accounting/report_print_base.html" %}
{% load formatting %}

{% block report_content %}
<table>
    <thead>
        <tr>
            <th class="text-left">Account</th>
            <th class="text-left">Type</th>
            <th class="text-right">Debit</th>
            <th class="text-right">Credit</th>
            <th class="text-right">Balance</th>
        </tr>
    </thead>
    <tbody>
    {% for acct in accounts %}
        <tr>
            <td>
                <span class="account-code">{{ acct.code }}</span>
                {{ acct.name }}
            </td>
            <td>
                <span class="badge badge-{{ acct.type|lower }}">{{ acct.get_type_display }}</span>
            </td>
            <td class="text-right amount">{{ acct.debit_sum|currency }}</td>
            <td class="text-right amount">{{ acct.credit_sum|currency }}</td>
            <td class="text-right amount {% if acct.balance < 0 %}negative{% endif %}">{{ acct.balance|currency }}</td>
        </tr>
    {% empty %}
        <tr>
            <td colspan="5" class="text-center">No transactions found for the selected period.</td>
        </tr>
    {% endfor %}
    </tbody>
    <tfoot>
        <tr>
            <th colspan="2" class="text-right">Totals:</th>
            <th class="text-right amount">{{ total_debits|currency }}</th>
            <th class="text-right amount">{{ total_credits|currency }}</th>
            <th class="text-right">
                {% if total_debits == total_credits %}
                <span class="badge badge-balanced">Balanced</span>
                {% else %}
                <span class="badge badge-unbalanced">Out of Balance</span>
                {% endif %}
            </th>
        </tr>
    </tfoot>
</table>
{% endblock %}
